.container {
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .buttonWrapper {
    margin-bottom: 20px;
  }
  
  .backButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #0056b3;
  }
  
  .heading {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  .message {
    font-size: 18px;
    color: #666;
  }