.header {
  background-color: rgb(56, 54, 54);
  height: 90px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.headerText {
  margin-top: 10px;
  background-color: rgb(56, 54, 54);
}
